<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Actors</title>
    <style>
        .actor_table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body onload="loadData({{ MOVIES }})">

<table id="actors_table" class="actor_table">

</table>

<script>

    let data = [];
    let actors = [];
    function loadData(movieData) {
        data = movieData;
        for(let i=0; i<data.length; ++i) {
            for(let j=0; j<data[i].cast.length; ++j) {
                const index = actors.indexOf(data[i].cast[j]);
                if(index == -1) { //not found
                    actors.push(data[i].cast[j]);
                }
            }
        }
        actors.sort(compareActorNames);
        showActors();
    }

    function compareActorNames(name1, name2) {
        if ( name1 < name2) {
            return -1;
        }
        if ( name1 > name2 ){
            return 1;
        }
        return 0;
    }

    function showActors() {
        const table = document.getElementById("actors_table");
        while (table.firstChild) {
            table.removeChild(table.firstChild);
        }
        for(let i=0; i<actors.length; ++i) {
            const row = document.createElement("tr");

            const nameCell = document.createElement("td");
            nameCell.textContent = actors[i];
            row.appendChild(nameCell);

            table.appendChild(row);
        }
        const row = document.createElement("tr");
        const name = document.createElement("td");
        name.textContent = "Actors name:";
        row.appendChild(name);
        table.prepend(row);

    }


</script>

</body>
</html>